.product-detail-conatiner {
  margin-top: 100px;
}

.product-detail-conatiner .product-bredcrumb {
  padding: 1em;
}

.product-detail-conatiner .product-bredcrumb button {
  float: right;
}

.product-detail-conatiner .p-galleria-thumbnail-container {
  background: none;
}

.product-detail-conatiner .p-galleria-thumbnail-container .p-galleria-thumbnail-item {
  overflow: hidden;
  width: 50px !important;
  height: 50px !important;
}

.product-detail-conatiner .p-galleria-thumbnail-container .p-galleria-thumbnail-item-current {
  border: 2px solid #FF6740;
}

.product-detail-conatiner .p-galleria-item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-detail-conatiner .prdct-name-txt {
  font: normal normal 600 26px/27px Montserrat;
  letter-spacing: 0.05px;
  color: #000D41;
}

.product-detail-conatiner .product-desc {
  font: normal normal medium 18px/28px Montserrat;
  letter-spacing: 0.04px;
  color: #909BAD;
}

.product-detail-conatiner .old-price {
  color: #909BAD;
  text-decoration: line-through;
  margin-left: .4em;
}

.product-detail-conatiner .size-label {
  margin-top: 1.5em;
}

.product-detail-conatiner .chart-link {
  color: #FF6740;
  cursor: pointer;
  margin-left: 2em;
}

.product-detail-conatiner .qty-label {
  margin-left: 5em;
}

.product-detail-conatiner .sizes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail-conatiner .sizes-container .size-item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E6E9EA;
  border-radius: 6px;
  padding: 0 .5em;
  margin: .2em;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 500;
}

.product-detail-conatiner .sizes-container .p-dropdown {
  width: 40pt;
  height: 20pt;
  line-height: 5pt;
}

.product-detail-conatiner .color-label {
  margin-top: 1em;
}

.product-detail-conatiner .color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-detail-conatiner .color-container .blackItem .p-radiobutton-icon, .product-detail-conatiner .color-container .blackItem .p-radiobutton-box {
  background-color: #000000 !important;
}

.product-detail-conatiner .color-container .blackItem .greyItem .p-radiobutton-icon, .product-detail-conatiner .color-container .blackItem .greyItem .p-radiobutton-box {
  background-color: #9FA8AB !important;
}

.product-detail-conatiner .btn-container {
  margin-top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56%;
}

.product-detail-conatiner .btn-container .cart-btn {
  width: 130pt;
  font-weight: 500;
  font-size: 10pt;
}

.product-detail-conatiner .btn-container .wish-btn {
  width: 130pt;
  font-weight: 500;
  font-size: 10pt;
}

.product-detail-conatiner .product-specs-ul {
  list-style: none;
}

.product-detail-conatiner .review-bar {
  line-height: 0rem;
  margin-top: 1em;
}

.product-detail-conatiner .review-bar .p-progressbar {
  height: 6px;
  width: 50%;
  margin-left: 1em;
}

.product-detail-conatiner .selectedSize {
  border-color: #FF6740 !important;
  color: #FF6740;
}

.product-detail-conatiner .p-radiobutton {
  border: 1px solid !important;
}

.product-detail-conatiner .p-radiobutton .p-radiobutton-box {
  border: 0px solid #ced4da !important;
  background: none !important;
}

.product-detail-conatiner .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: #ff6740 !important;
}
/*# sourceMappingURL=ProductDetailComponent.css.map */