.banner-left {
  background: #faf8ed;
  height: 36rem;
  position: relative;
  top: -97px;
  z-index: -1;
}

.banner-right {
  background: #fff0ca 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 90px 0px;
  height: 36rem;
  position: relative;
  top: -97px;
  z-index: -1;
}
.banner-container {
  position: relative;
  width: 100vw;
  margin-top: 72pt;
  img {
    position: absolute;
    height: 83%;
    left: 30%;
    z-index: 1;
  }
  .img-text-wrapper {
    display: inline-flex;
    position: absolute;

    img {
      left: -22px;
      bottom: 53px;
    }
    span {
      z-index: 100;
    }
    h5 {
      text-align: left;
      font: normal normal bold 30px Caladea;
      letter-spacing: 0px;
      color: #000d41;
    }
    .t-shirt-icon {
      left: 74%;
      top: 37%;
    }
  }
  .banner-left .img-text-wrapper {
    top: 39%;
    width: 8rem;
    left: 23%;
  }
  .banner-right .img-text-wrapper {
    top: 39%;
    width: 11rem;
    right: 16%;
  }
}
.works-conatiner {
  margin-bottom: 3rem;
  .info-box-conatiner {
    margin-bottom: 2rem;
  }
  .row {
    justify-content: center;
    margin-top: 1.5rem;
  }
  .img-box-conatiner.second {
    align-items: flex-end;
    margin-top: -135px;
  }
}
